{{#layout}}
    <section class="jumbotron text-center">
        <div class="container">
          <form method="post">
              <label>Secret</label>
              <input type="text" name="secret"/>
              <input type="submit" value="START"/>
          </form>
            <form method="post" action="/rooms/random">
                <input type="submit" value="RANDOM"/>
            </form>
        </div>
    </section>
{{/layout}}