{{#layout}}
    <section class="jumbotron text-center">
        <div class="container">
            <form method="post">
                <label>GUESS</label>

                <input type="text" name="guess"/>
                <input type="submit" value="Go"/>
            </form>
        </div>
    </section>
{{/layout}}